<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>my blog</title>
  </head>
  <body>

    <header>
      <h1><a href="">my stupid blog</a></h1>
    </header>
    <article class="">
      <time>published: 28.0702021, 21:36</time>
      <h2><a href="">my first post</a></h2>
      <p>blah blah blah</p>

    </article>
    <article class="">
      <time>published: 28.0702021, 21:36</time>
      <h2><a href=""> my second post</a></h2>
      <p>wow wow wow</p>
    </article>
    
  </body>
</html>
